.label {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: -5.2rem;
  transform: translateY(-50%);
  font-weight: 500;
  letter-spacing: 0.5px;
}

.label::after {
  position: absolute;
  content: "";
  width: 5rem;
  height: 5rem;
  background-color: #1864ab;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}
